body {
  font-family: "Montserrat", sans-serif;
  background-color: #d4e2f7;
}
h1 {
  font-size: 24px;
  color: #080808;
  margin-bottom: 0;
}
ul {
  padding: 0px;
}
li {
  list-style: none;
  color: #080808;
}
a {
  color: #6f89ce;
  text-decoration: none;
}

.wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: 1px solid #bac8dd;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 5px 10px 10px rgba(186, 200, 221, 0.75);
  background-color: #e5effd;
}
.search-button {
  background-color: #7ea1ff;
  border-color: #7ea1ff;
}
.description::first-letter {
  text-transform: capitalize;
}
.weather-temperature img {
  margin-right: 10px;
  position: relative;
  top: -20px;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 500;
  color: #080808;
}
.weather-temperature .units {
  position: relative;
  top: -33px;
}

.weather-temperature .active {
  cursor: default;
  color: #080808;
}
.climate {
  font-size: 13px;
}
